Package: komedia
Version: 0.0.1
Architecture: armel
Maintainer: unknown <>
Installed-Size: 830
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libqt4-declarative (>= 4.7.4~git20110516), libqtcore4 (>= 4.7.4~git20110516), libqtgui4 (>= 4.7.4~git20110516), libqtwebkit4, libstdc++6 (>= 4.3.0)
Section: user/other
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
Maemo-Display-Name: Komedia
Aegis-Manifest: empty
